
<!-- <div class="nav-container">
    <div class="logo">
        <a routerLink="/">EDU-HUB</a>
    </div>
    <div class="menu">
        <a routerLink="/register">Register</a>
        <a routerLink="/login">Login</a>
    </div>
</div> -->
<div class="nav-container">
    <div class="logo">
        <a routerLink="/" routerLinkActive="active-link" routerLinkActiveOptions="{ exact: true }" class="edu">EDU-HUB</a>
    </div>
    <div class="menu">
        <a routerLink="/register" routerLinkActive="active-link" routerLinkActiveOptions="{ exact: true }">Register</a>
        <a routerLink="/login" routerLinkActive="active-link" routerLinkActiveOptions="{ exact: true }">Login</a>

    </div>
</div>
